@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

header{
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
    height: 10vh;
}

.box-navegação{
    display: flex;
    justify-content: space-between;
}

.box-navegação .menu{
    display: none;
}

.menu img{
    width: 5vw;
    height: 5vh;
}

.box-navegação h2{
    margin-left: 6vw;
    font-size: 5vh;
    margin-top: 2vh;
}

.box-navegação nav{
    margin-right: 6vw;
    width: 28%;
    margin-top: 2vh;
}

.box-navegação ul{
    display: flex;
    margin-top: 2vh;
    justify-content: space-between;
    opacity: 0.8;
}

.box-navegação li{
    font-size: 2vh;
}

.box-navegação li:hover{
    cursor: pointer;
    font-weight: bolder;
}

main{
    width: 100%;
}

.tela-azul{
    width: 100%;
    margin-top: 10vh;
    background-image: url(pasta.img/tela_azul.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 70vh;
}

.texto-tela-azul{
    padding-top: 30vh;
    width: 70%;
    height: 70vh;
    text-align: center;
    color: white;
}

h1{
    font-size: 7vh;
}

p{
    font-size: 3vh;
    margin-right: 43vw;
    margin-top: 7vh;
}

.box-fotos{
    display: flex;
    align-items: center;
    margin-left: 6vw;
    justify-content: space-between;
    padding-top: 6vh;
}

.tamanho-fotos{
    width: 22vw;
    height: 35vh;
}

footer{
    width: 100%;
    height: 10vh;
    background-color: ghostwhite;
    align-items: center;
    margin-top: 4vh;
}

.box-copyright{
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding-top: 3vh;
    margin-left: 6vw;
}

.box-sociais{
    width: 32%;
}

.texto-footer{
    display: flex;
    width: 52%;
    justify-content: space-evenly;
}